<div class="panel panel-default">
  <div class="panel-body">
    <div class="col-md-5 sign-up-form">
      <div class="content">
        <%= form_tag sign_up_path, method: 'post', class:'form-horizontal' do %>
          <div class="form-group">
            <h4 class="form-title col-sm-8 col-sm-offset-3 text-center">注册“去哪儿玩”帐号</h4>
          </div>
          <% if flash[:notice] %>
            <div class="alert alert-danger alert-dismissible" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <%= flash[:notice] %>
            </div>
          <% end %>
          <div class="form-group">
            <label for="name" class="col-sm-3 control-label pull-left">昵称</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="name" placeholder="请输入用户名" name="user[name]" value="<%= @user.name %>" required>
            </div>
          </div>
          <div class="form-group">
            <label for="email" class="col-sm-3 control-label text-left">邮箱</label>
            <div class="col-sm-9">
              <input type="email" class="form-control" id="email" placeholder="请输入邮箱地址" name="user[email]" value="<%= @user.email %>" required>
            </div>
          </div>
          <div class="form-group">
            <label for="password" class="col-sm-3 control-label text-left">密码</label>
            <div class="col-sm-9">
              <input type="password" class="form-control" id="password" placeholder="请输入密码" name="user[password]" required>
            </div>
          </div>
          <div class="form-group">
            <label for="password" class="col-sm-3 control-label text-left">确认密码</label>
            <div class="col-sm-9">
              <input type="password" class="form-control" id="password" placeholder="请再次输入密码" name="user[password_confirmation]" required>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-3 col-sm-10">
              <div class="checkbox">
                <label>
                  <input type="checkbox" required> 我已阅读并接受《去哪儿玩用户协议》
                </label>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
              <button type="submit" class="btn btn-default btn-primary btn-block">注册</button>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-md-7">
      <div class="reg_side">
        <p>
          已经注册？
          <%= link_to '马上登录！', login_path, title: '马上登录！', :class => 'green'%>
        </p>
        <div style="padding-top:20px;"></div>
      </div>
    </div>
  </div>
</div>
