<%= content_for :header do %>
  <%= stylesheet_link_tag    'product/calendar/jscal2','product/calendar/border-radius','product/calendar/steel' %>
  <%= javascript_include_tag 'product/calendar/jscal2',  'product/calendar/cn'%>
<% end -%>
<div class="portlet-body form">

  <% 
    if params[:action] == "new" 
      url = admin_events_path
    else
      url =admin_event_path
    end
  %>
  <%= form_for @event, url: url, methods: :post do |f|%>
    <div class="form-body">
      <%= form_text_field(text_label: '名称', text_name: 'event[name]', text_value: f.object.name) %>
      <%= form_text_field(text_label: '直播sdk_id', text_name: 'event[zkey]', text_value: f.object.zkey, text_class: 'fa-user') %>
      <%= form_text_field(text_label: '直播链接', text_name: 'event[zurl]', text_value: f.object.zurl, text_class: 'fa-user') %>

      <%= form_text_field(text_label: '录播sdk_id', text_name: 'event[lkey]', text_value: f.object.lkey, text_class: 'fa-user') %>
      <%= form_text_field(text_label: '录播链接', text_name: 'event[lurl]', text_value: f.object.lurl, text_class: 'fa-user') %>
     
      <%= form_text_field(text_label: '开始时间', text_name: 'event[start_time]', text_value: f.object.start_time, text_class: 'fa-user') %>
      <%= f.submit '添加', :class => 'btn blue'%>
      <%= link_to '取消', admin_events_path, :class => 'btn default'%>
    </div>
  <% end -%>
</div>
