<div class="row">
  <div class="col-md-12">
    <!-- BEGIN EXAMPLE TABLE PORTLET-->
    <div class="portlet box grey-cascade">
      <div class="portlet-title">
        <div class="caption">
          <i class="fa fa-globe"></i>视频信息
        </div>
        <div class="tools">
          <a class="collapse" href="javascript:;">
          </a>
        </div>
      </div>
      <div class="portlet-body">
        <div class="dataTables_wrapper">
          <div class="btn-group">
            <a href="<%= new_admin_event_path %>" class="btn green">
            添加视频 <i class="fa fa-plus"></i>
            </a>
          </div>
        </div>
        <table class="table table-striped table-bordered table-hover dataTable">
          <thead>
            <tr>
              <th>视频id</th>
              <th>名称</th>
              <th>直播sdk_id</th>
              <th>直播url</th>
              <th>录播sdk_id</th>
              <th>录播url</th>
              <th>开始时间</th>
              <th>创建时间</th>
              <th>操作</th>
            </tr>
          </thead>
          <% @events.each do |event|%>
            <tbody>
              <tr class="odd gradeX">
                <td class="ng-binding"><%= event.id %></td>
                <td class="ng-binding"><%= event.name %></td>
                <td class="ng-binding"><%= event.zkey %></td>
                <td class="ng-binding"><%= event.zurl %></td>
                <td class="ng-binding"><%= event.lkey %></td>
                <td class="ng-binding"><%= event.lurl %></td>
                <td class="ng-binding"><%= event.start_time %></td>
                <td class="ng-binding"><%= time_format(event.created_at)%></td>
                <td>
                  <%= link_to '编辑', edit_admin_event_path(event) %>
                  <%= link_to '删除', admin_event_path(event), method: :delete, confirm: '确认要删除吗？' %>
                </td>
              </tr>
            </tbody>
          <% end -%>
        </table>
      </div>
    </div>
    <!-- END EXAMPLE TABLE PORTLET-->
  </div>
</div>