<div class="col-md-3">
  <div class="thumbnail">
    <%= link_to image_tag(asset_path(event.logo_url(:medium)), style:"width:342px; height: 150px;", class:"img-responsive"), event_path(event) %>

    <div class="caption">
      <h4>
      <%= truncate(event.name,:length => 12)%>
      </h4>
      <p><%= "#{event.start_at.strftime('%m月%d日 %H:%M')}--#{event.end_at.strftime('%m月%d日 %H:%M')}" %></p>
      <p>地点：<%= event.address %></p>
      <p>
        <a href="<%= event_path(event)%>" target="_blank" class="btn btn-primary" role="button">查看</a>
        <% if @current_user and Apply.where(:user_id => @current_user, :event_id => event.id).present? %>
          <%= link_to '退出我们', not_apply_event_event_path(event), class: 'btn btn-success',:confirm => "您确定要退出我们吗？"%>
        <% else %>
          <%= link_to '加入我们', apply_event_event_path(event), class: 'btn btn-success'%>
        <%end%>
    </div>
  </div>
</div>
