<div class="col-md-12">
  <table class="table table-bordered" style="background: #fff">
    <% if @comments.empty? %>
      <tr>
        <td>
          <p class='text-center'>
          还没有评论， 来写几句吧。
          </p>
        </td>
      </tr>
    <% else %>
      <% @comments.each_with_index do |comment, index| %>
        <tr>
          <td>
            <div class="col-md-1" style="padding: 0 0;">
              <%= image_tag comment.user.logo.url(:feed), width:"40", height: "40" %>
            </div>
            <div class="col-md-8" style="margin-left: 0;padding: 0 0;">
              <div class="row">
                <span style="color: #7AA87A; margin-right: 20px;">
                  <%= comment.user.name %>
                </span>
                <span style="color: #9fc5e8">
                  <%= distance_of_time_in_words comment.created_at, Time.now %>前
                </span>
              </div>
              <div class="row" style="margin-top: 6px;">
                <%= comment.content %>
              </div>
            </div>
            <span class="pull-right" style="color: #7AA87A"> #<%= index + 1 %> </span>
          </td> 
        </tr>
      <% end %>
    <% end %>
  </table>
</div>
