<%= content_for :header do %>
  <%= javascript_include_tag 'jquery.sortable' %>
  <style>
    .row{
      margin-bottom: 15px;
    }
    h1{
    	font-size:24px;
    	font-family: arial;
    	margin: 10px;
    }
    .taxons_list {
      border: 1px solid #CCC;
    	list-style: none;
    	padding:0;
    	margin:0;
    }
    .taxons_list li {
    	text-align: left;
    	border-bottom: 1px solid #CCC;
    	font-family: arial;
    	background:	 #336666
    	color: #FFF;
      padding: 10px;
    }
    .taxons_list li span{
      margin-right: 20px;
    }
    #msg{
    	font-size:12px;
    	font-family: arial;
    	background: #303030;
    	color: #cccccc;
    	padding: 10px;
    	display: none;
    	width: 370px;
    	margin: 10px;
    }
    div.alert{
      display:none;
    }
  </style>
<% end %>
<div class="row">
  <%= link_to '新建分类', new_admin_taxon_path, class:'btn btn-default btn-primary row' %>
  <div class="well well-sm">上下拖动排序, 从上倒下在前台按次序显示</div>
  <div class="alert alert-warning alert-dismissible  well-sm" role="alert">
    更新成功
    <a href="javascript:void(0);" class="pull-right close_info">x</a>
  </div>
	<ul class="taxons_list">
     <% @taxons.each do |taxon| %>
      <li>
        <span value="<%= taxon.id %>" class="taxon_name"><%= taxon.name %></span>
        <span class="pull-right">
          <%= link_to '查看二级分类', admin_taxon_sub_menus_path(taxon) %> |
          <%= link_to '编辑', edit_admin_taxon_path(taxon)%> |
          <%= link_to '删除', admin_taxon_path(taxon), method:'delete', data:{confirm:'确定删除？'}%>
        </span>
      </li>
     <% end %>
  </ul>
  <script>
    $(document).ready(function(){
      $('.taxons_list').sortable().bind('sortupdate', function() {
        var ordered_list = $(".taxons_list li span.taxon_name").map(function(){
          return $(this).attr('value');
        }).get();
        console.log(ordered_list);
        $.post("<%= position_admin_taxons_path%>", {'positions': ordered_list}, function(data){
          $("div.alert").show();
        })
        $(".taxons_list li").css('border-bottom', '1px solid #CCC');
        $(".taxons_list li:last").css('border-bottom', 'none');
      });
      $(".taxons_list li:last").css('border-bottom', 'none');
      $("a.close_info").bind('click', function(){
        $("div.alert").hide();
      })
    })
  </script>
</div>
