<div class="row">
  <div class="col-md-12">
    <!-- BEGIN EXAMPLE TABLE PORTLET-->
    <div class="portlet box grey-cascade">
      <div class="portlet-title">
        <div class="caption">
          <i class="fa fa-globe"></i>报名信息
        </div>
        <div class="tools">
          <a class="collapse" href="javascript:;">
          </a>
        </div>
      </div>
      <div class="portlet-body">
        <div class="dataTables_wrapper">
          <div class="btn-group">
            <a href="<%= new_admin_enlist_path %>" class="btn green">
            添加报名 <i class="fa fa-plus"></i>
            </a>
          </div>
        </div>
        <%= form_tag(admin_enlists_path, method: "get",:class => "form-inline",:style => "border: 5px solid #ADADAD;padding: 10px;") do %>
          <div  class="row">
<!--             <div class="col-md-3">
              <label>
                <input type="text" name="number" value="<%= params[:number]%>" placeholder="报名方式"/>
              </label>
            </div> -->

            <div class="col-md-3">
              <label>
                <input type="text" name="province" value="<%= params[:province]%>" placeholder="地区"/>
              </label>
            </div>

            <div class="col-md-3">
              <label>
                <input type="text" name="training_time" value="<%= params[:training_time]%>"  placeholder="培训时间"/>
              </label>
            </div>

            <div class="col-md-3">
              <label>
                第二技能: <input type="checkbox" name="skill_one" value="true" <%= "checked" if params[:skill_one].present?%> placeholder="第二技能"/>
              </label>
            </div>

            <div class="col-md-3">
              <label>
                超凡大师: <input type="checkbox" name="skill_two" value="true" <%= "checked" if params[:skill_two].present?%> placeholder="超凡大师"/>
              </label>
            </div>
          </div>


          <div  class="row">


            <div class="col-md-3">
              <label>
                <input type="number" name="sign_number" value="<%= params[:sign_number]%>" placeholder="签到次数"/>
              </label>
            </div>

            <div class="col-md-3">
              <input type="submit"  class="button tiny info" value="🔍搜  索"/>
            </div>
          </div>
        <% end %>
        <div  class="row">
          <div class="col-md-10">
            <h5>共<%= @enlists.count%>条记录</h5>
          </div>
          <div class="col-md-2">
            <a href="<%= export_csv_admin_enlists_path%>" target="_blank">导出EXCEL</a>
          </div>
        </div>
        <table class="table table-striped table-bordered table-hover dataTable">
          <thead>
            <tr>
              <!-- <th>ID</th> -->
              <th>姓名</th>
              <th>公司</th>
<!--               <th>地址</th> -->
              <th>qq</th>
              <th>手机号</th>
              <th>是否线下报名</th>
              <th>地区</th>
              <th>培训时间</th>
              <th>第二技能</th>
              <th>超凡大师</th>
              <th>签到次数</th>
              <!-- <th>创建时间</th> -->
              <th>操作</th>
            </tr>
          </thead>
          <% @enlists.each do |one|%>
            <tbody>
              <tr class="odd gradeX">
                <!-- <td class="ng-binding"><%= one.id %></td> -->
                <td class="ng-binding"><%= one.name %></td>
                <td class="ng-binding"><%= one.company %></td>
                <!-- <td class="ng-binding"><%= one.address %></td> -->
                <td class="ng-binding"><%= one.qq %></td>
                <td class="ng-binding"><%= one.mobile %></td>
                <td class="ng-binding"><%= one.mold == "线下" ? "是" : "否" %></td>

                <td class="ng-binding"><%= one.province %></td>
                <td class="ng-binding"><%= one.training_time %></td>
                <td class="ng-binding">
                  <% if one.skill_one == false %>
                    <a class="btn btn-default">待审核 </a>
                  <% else %>
                    <a class="btn btn-success">审核通过 </a>
                  <% end %>
                </td>
                <td class="ng-binding">
                  <% if one.skill_two == false %>
                    <a class="btn btn-default">待审核 </a>
                  <% else %>
                    <a class="btn btn-success">审核通过 </a>
                  <% end %>
                </td>
                <td class="ng-binding"><%= one.sign_number %></td>

                <!-- <td class="ng-binding"><%= time_format(one.created_at)%></td> -->
                <td>
                  <%= link_to '编辑', edit_admin_enlist_path(one) %>
                  <%= link_to '删除', admin_enlist_path(one), method: :delete, confirm: '确认要删除吗？' %>
                </td>
              </tr>
            </tbody>
          <% end -%>
        </table>
      </div>
    </div>
    <!-- END EXAMPLE TABLE PORTLET-->
    <div class="row">
      <div class="large-6 large-push-5 columns ">
        <div class="digg_pagination">
            <%= will_paginate @enlists, :container => false, :previous_label => '<<', :next_label => '>>' %>
        </div>
      </div>
    </div>
  </div>
</div>