<div class="panel panel-danger">
  <div class="panel-heading"><h3 class="panel-title">我发布的活动</h3></div>
  <ul class="list-group">
    <% @events.each do |event| %>
      <li class="list-group-item">
        <div class="row">
          <div class="col-md-2"><%= image_tag event.logo_url(:medium), :class => 'img-thumbnail', size:"118x118" %></div>
          <div class="col-md-6">
            <p><%= link_to event.name, event_path(event)%></p>
            <p>时间：<%= "#{event.start_at.strftime('%m月%d日 %H:%M')}--#{event.end_at.strftime('%m月%d日 %H:%M')}" %></p>
            <p>地点：<%= event.address %></p>
          </div>
        </div>
        <%= render partial: 'events/photos_list', locals: {event: event} %>
      </li>
    <% end -%>
  </ul>
  <%= will_paginate @events, :previous_label=> '« 上一页', :next_label => '下一页 »'%>
</div>

<div class="panel panel-info">
  <div class="panel-heading"><h3 class="panel-title">我参加的活动</h3></div>
  <ul class="list-group">
    <% @apply_events.each do |event| %>
      <li class="list-group-item">
        <div class="row">
          <div class="col-md-2"><%= image_tag event.logo_url(:medium), :class => 'img-thumbnail', size:"118x118" %></div>
          <div class="col-md-6">
            <p><%= link_to event.name, event_path(event)%></p>
            <p>时间：<%= "#{event.start_at.strftime('%m月%d日 %H:%M')}--#{event.end_at.strftime('%m月%d日 %H:%M')}" %></p>
            <p>地点：<%= event.address %></p>

          </div>
        </div>
        <%= render partial: 'events/photos_list', locals: {event: event} %>
      </li>
    <% end -%>
  </ul>
  <%= will_paginate @events, :previous_label=> '« 上一页', :next_label => '下一页 »'%>
</div>
