<div class="jumbotron">
  <h3>中国很大，我心无涯</h3>
  <p>你是否厌倦了无聊的工作，想组织一次野外探险？</p>
  <p>你是否好久没有运动，想约几个人一块去打球，但是找不到合适的人？</p>
  <p>你是否想买一件心仪很久的商品，但是需要其他人一块购买，有更多的优惠折扣？</p>
  <p>还等什么，赶快发起一次专属你的活动吧，let's go !</p>
  <p>
    <%= link_to "新建活动", new_event_path, {:class => "btn btn-primary btn-lg active"}%>
  </p>
</div>

<div class="row">
  <% @events.each do |event| %>
  <div class="col-sm-6 col-md-4 col-lg-3 ">
    <div class="thumbnail">
      <a class="bg-warning"><%= image_tag event.logo_url(:medium), :class => 'img-circle' %></a>
      <div class="caption">
        <h4> 
          <%= link_to truncate(event.name,:length => 12), event_path(event), {:title => event.name}%>
        </h4>
        <p class="bg-primary">时间：<%= "#{event.start_at.strftime('%m月%d日 %H:%M')}--#{event.end_at.strftime('%m月%d日 %H:%M')}" %></p>
        <p>地点：<%= event.address %></p>
        <p>类型：<%= Event::EVENT_CATEGORY[event.category_id] %></p>
      </div>
    </div>
  </div>
  <% end %>
</div>