<% content_for :header do %>
<%= javascript_include_tag "lib/coin-slider" %>
<% end %>
<script type="text/javascript">
$(document).ready(function(){
$('#best_topics').coinslider({width:750, height: 396, navigation: false, hoverPause: true, spw: 1, sph: 1});
})
</script>
<div class="row ">
  <div class="col-md-8">
    <div id = "best_topics" class="inner jumbotron remove-padding-for-bootstrap">
      <a href="http://www.baidu.com/" target="_blank">
        <img src="<%= asset_path 'home/cb8065380cd791232c740ed1ad345982b3b780fb.jpg' %>" alt="旅游" />
        <span>
        <b>我们去爬山吧</b><br />
        爱旅行是一种病，而且得了就治不好,那..就让我们同病相怜吧^_^,9月3日,泰山三日游,加入我们!
        </span> 
      </a>
      <a href="http://www.princeofpersiagame.com/" target="_blank">
        <img src="<%= asset_path 'home/135087353028533.jpg' %>" alt="运动" /> 
        <span>
        <b>一起去打球吧</b><br />
        打篮球可以认识许多志同道合的人，我们在一起过招，在一起切磋球技，这是很开心的事情。
        如果有人愿意和我一起玩篮球，我会非常开心，欢迎加入我们!
        </span>
      </a>
      
    </div>
  </div>
  <div class="col-md-4 jumbotron">
    <div class="inner remove-padding-for-bootstrap">
      <h3>中国很大，我心无涯</h3>
      <p>你是否厌倦了无聊的工作，想组织一次野外探险？</p>
      <p>你是否好久没有运动，想约几个人一块去打球，但是找不到合适的人？</p>
      <p>你是否想买一件心仪很久的商品，但是需要其他人一块购买，有更多的优惠折扣？</p>
      <p>还等什么，赶快发起一次专属你的活动吧，let's go !</p>
      <p>
      <%= link_to "新建活动", new_event_path, {:class => "btn btn-primary btn-lg active"}%>
      </p>
      
    </div>
  </div>
</div>
<div class="row">
  <% @events.each do |event| %>
  <div class="col-sm-6 col-md-4 col-lg-3 ">
    <div class="thumbnail">
      <a class="bg-warning"><%= image_tag event.logo_url(:medium), :class => 'img-circle' %></a>
      <div class="caption">
        <h4>
        <%= link_to truncate(event.name,:length => 12), event_path(event), {:title => event.name}%>
        </h4>
        <p class="bg-primary">时间：<%= "#{event.start_at.strftime('%m月%d日 %H:%M')}--#{event.end_at.strftime('%m月%d日 %H:%M')}" %></p>
        <p>地点：<%= event.address %></p>
        <p>类型：<%= Event::EVENT_CATEGORY[event.category_id] %></p>
      </div>
    </div>
  </div>
  <% end %>
</div>