<%= content_for :header do %>
  <%= stylesheet_link_tag 'sidemenu' %>
<% end %>
<script>
  $(document).ready(function(){
    $(".nav-first-level").bind('click', function(){
      $('.menu_active').not(this).siblings('.nav-second-level').hide();
      $('.menu_active').not(this).children('span').removeClass('glyphicon-menu-down');
      $('.menu_active').not(this).removeClass('menu_active');
      $(this).children('span').toggleClass('glyphicon-menu-down');
      $(this).siblings('.nav-second-level').first().toggle();
      $(this).toggleClass('menu_active');
    })
    $(".nav li").click(function(){
      $(this).addClass("active").siblings().removeClass("active");
    })
  })
</script>
<div class="row">
  <% if !request.env["HTTP_USER_AGENT"].include?('Mobile') %>
  <div class="col-md-2">
    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu" style="margin-bottom: 5px; display: block; position: static;">
      <li><a href="#">全部</a></li>
      <% @taxons.each do |taxon| %>
        <% sub_menus = taxon.sub_menus %>
        <li class="<%= sub_menus.empty? ? '' : 'dropdown-submenu' %>">
          <a href="<%= list_taxon_path(taxon)%>"><%= taxon.name %></a>
          <% unless sub_menus.empty? %>
            <ul class="dropdown-menu">
              <% taxon.sub_menus.each_with_index do |sm, index| %>
                <% if index == 0 %>
                  <li><a tabindex="-1" href="<%= list_taxon_path(sm) %>"><%= sm.name %></a></li>
                <% else %>
                  <li><a href="<%= list_taxon_path(sm) %>"><%= sm.name %></a></li>
                <% end %>
              <% end %>
            </ul>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
  <% end %>
  <div class="col-md-10" style="margin-top: 2px;">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <% @slide_ads.each_with_index do |sa, index| %>
          <% if index == 0 %>
          <div class="item active">
          <% else %>
          <div class="item">
          <% end %>
          <a href="<%= sa.link %>" target="_blank">
            <%= image_tag sa.img.url(:medium) %>
          </a>
          <div class="carousel-caption">
            <%= sa.title %>
          </div>
        </div>
        <% end %>
      </div>

      <!-- Controls -->
      <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</div>

<%= render :partial => "second_level", :locals => {:events => @events} %>
