<% if @event.creator?@current_user %>
  <div class="row" style="margin-bottom: 15px;vertical-align: bottom;">
    <div class="col-md-12">
      <%= link_to '上传图片', uploader_event_path(@event), class: 'btn btn-info'%>
      <%= link_to '编辑活动', edit_event_path(@event), class: 'btn btn-info'%>
    </div>
  </div>
<% else %><D-^>
	<% if @current_user %>
		<% if @current_user.joined?(@event) %>
		  <%= link_to '退出我们', not_apply_event_event_path(@event), class: 'btn btn-info',:confirm => "您确定要退出我们吗？", style:'margin-top: 18px;'%>
		<% else %>
			<%= link_to '加入我们', apply_event_event_path(@event), class: 'btn btn-info', style:'margin-top: 18px;'%>
		<% end %>
	<% else %>
			<%= link_to '加入我们', apply_event_event_path(@event), class: 'btn btn-info', style:'margin-top: 18px;'%>
	<% end %>
<% end %>
