<% content_for :header do %>
  <%= stylesheet_link_tag 'datetimepicker/bootstrap-datetimepicker.min' %>
  <%= stylesheet_link_tag 'bootstrap-select/bootstrap-select.min'%>
  <%= javascript_include_tag 'datetimepicker/bootstrap-datetimepicker.min'%>
  <%= javascript_include_tag 'datetimepicker/bootstrap-datetimepicker.zh-CN'%>
  <%= javascript_include_tag 'bootstrap-select/bootstrap-select.min' %>
  <script charset="utf-8" src="http://map.qq.com/api/js?v=2.exp"></script>
<% end %>
<%= simple_form_for @event, html: { class: 'form-horizontal' }  do |f| %>
  <%= f.input :lng, as:'hidden' %>
  <%= f.input :lat, as:'hidden' %>
  <div class="row" style="background: #fff;padding-top: 10px;padding-bottom: 10px;">
    <div class="col-md-6">
      <div class="form-group">
        <label for="event_name" class="col-md-2 control-label">标题</label>
        <div class="col-md-5">
          <%= f.input :name, input_html:{ placeholder: '请输入活动标题', class:'form-control'}, label: false %>
        </div>
      </div>
      <div class="form-group">
        <label for="event_fee_type" class="col-md-2 control-label">城市</label>
        <div class="col-md-6">
          <%= f.association :city, as:'select', collection: City.all, input_html:{class: ' selectpicker'},include_blank: false, label:false %>
        </div>
      </div>
      <div class="form-group" style="display:none;">
        <label for="event_adress" class="col-md-2 control-label">活动地址</label>
        <div class="col-md-9">
          <%= f.input :address, input_html:{ placeholder:'请输入活动地址', class:'form-control'}, label: false%>
        </div>
        <div class="col-md-1" style="padding-left: 0px;">
          <button type="button" class="btn btn-info" aria-label="Left Align" id="map_btn">
            <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
          </button>
        </div>
      </div>
      <div class="form-group">
        <label for="event_taxon" class="col-md-2 control-label">新闻分类</label>
        <div class="col-md-10">
          <%= f.association :taxon, collection: Taxon.select_options, input_html:{class:'selectpicker', 'data-live-search'=> 'true'}, include_blank: false, label: false %>
        </div>
      </div>

      <%
        start_at = Time.now.strftime('%Y-%m-%d %H:%M:%S')
        end_at = (Time.now + 24 * 60 * 60).strftime('%Y-%m-%d %H:%M:%S')

        start_at = @event.start_at.strftime('%Y-%m-%d %H:%M:%S') if @event.start_at.present?
        end_at = @event.end_at.strftime('%Y-%m-%d %H:%M:%S') if @event.end_at.present?
      %>
      <div class="form-group" style="display:none;">
        <label for="event_start_at" class="col-md-2 control-label">开始时间</label>
        <div class="col-md-10">
          <%= f.input :start_at, as:'string', input_html:{required: 'required', placeholder:'请输入活动开始时间', value: start_at, class:'form-control'} , label: false%>
        </div>
      </div>

      <div class="form-group" style="display:none;">
        <label for="event_end_at" class="col-md-2 control-label">结束时间</label>
        <div class="col-md-10">
          <%= f.input :end_at, as:'string', input_html:{required: 'required', placeholder:'请输入活动结束时间', value: end_at, class:'form-control'}, label: false%>
        </div>
      </div>

      <div class="form-group" style="display:none;">
        <label for="event_fee_type" class="col-md-2 control-label">费用类型</label>
        <div class="col-md-10">
          <%= f.input :fee_type, as:'select', collection: Event.fee_type_options, input_html:{class: ' selectpicker'},include_blank: false, label:false %>
        </div>
      </div>

      <div class="form-group" style="display:none;">
        <label for="event_fee_type" class="col-md-2 control-label">活动金额</label>
        <div class="col-md-10">
          <%= f.input :fee, input_html:{placeholder: '请输入活动金额', class: 'form-control'}, label:false %>
        </div>
      </div>

      <div class="form-group" style="display:none;">
        <label for="event_fee_type" class="col-md-2 control-label">下限人数</label>
        <div class="col-md-10">
          <%= f.input :min_count, input_html:{placeholder: '请输入活动下限人数', class: 'form-control'}, label:false %>
        </div>
      </div>

      <div class="form-group" style="display:none;">
        <label for="event_fee_type" class="col-md-2 control-label">上线人数</label>
        <div class="col-md-10">
          <%= f.input :max_count, input_html:{ placeholder: '请输入活动上限人数', class:'form-control'}, label:false%>
        </div>
      </div>

      <div class="form-group">
        <label for="event_fee_type" class="col-md-2 control-label">LOGO</label>
        <div class="col-md-10">
          <%= f.input :logo, as:'file', label:false %>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="form-group">
        <div class="col-md-12">
          <%= f.input :content, label: false, :as => :kindeditor, :input_html => { :simple_mode => true } %>
        </div>
      </div>
      <button type="submit" class="btn btn-info btn-lg btn-block">提交</button>
    </div>
  </div>
<% end %>


<script>
  $(document).ready(function(){
    $('#event_start_at').datetimepicker({
        language:  'zh-CN',
        weekStart: 1,
        todayBtn:  1,
    		autoclose: 1,
    		todayHighlight: 1,
    		startView: 2,
    		forceParse: 0
    });
    $('#event_end_at').datetimepicker({
        language:  'zh-CN',
        weekStart: 1,
        todayBtn:  1,
    		autoclose: 1,
    		todayHighlight: 1,
    		startView: 2,
    		forceParse: 0,
        showMeridian: 1
    });
    $('.selectpicker').selectpicker({
      size: 8
    });
    $("#map_btn").bind('click',function(){
      $.post("<%= mark_cities_path%>", null, null);
    });
  });
</script>
