<% content_for :header do %>
  <%= stylesheet_link_tag 'datetimepicker/bootstrap-datetimepicker.min' %>
  <%= stylesheet_link_tag 'bootstrap-select/bootstrap-select.min'%>
  <%= javascript_include_tag 'datetimepicker/bootstrap-datetimepicker.min'%>
  <%= javascript_include_tag 'datetimepicker/bootstrap-datetimepicker.zh-CN'%>
  <%= javascript_include_tag 'bootstrap-select/bootstrap-select.min' %>
  <%= javascript_include_tag '//cdn.bootcss.com/ckeditor/4.4.5/ckeditor.js' %>
<% end %>
<div class="row" style="background: #fff;padding: 10px;">
  

<%= simple_form_for @event, html: { class: 'form-horizonal' }  do |f| %>

  <div class="col-md-6">
    <div class="form-group">
      <label for="event_name" class="col-md-2 control-label">Email</label>
      <div class="col-md-10">
        <%= f.input :name, input_html:{ placeholder: '请输入活动标题', class:'form-control'}, required: true, label: false %>
      </div>
    </div>

    <%= f.input :address, input_html:{required: 'required', placeholder:'请输入活动地址'}%>
    
    <%= f.association :taxon, collection: Taxon.select_options, input_html:{class:'selectpicker', 'data-live-search': 'true'},include_blank: false %>
    
    <%
      start_at = Time.now.strftime('%Y-%m-%d %H:%M:%S')
      end_at = (Time.now + 24 * 60 * 60).strftime('%Y-%m-%d %H:%M:%S')
    
      start_at = @event.start_at.strftime('%Y-%m-%d %H:%M:%S') if @event.start_at.present?
      end_at = @event.end_at.strftime('%Y-%m-%d %H:%M:%S') if @event.end_at.present?
    %>
    <%= f.input :start_at, as:'string', input_html:{required: 'required', placeholder:'请输入活动开始时间', value: start_at} %>
    
    <%= f.input :end_at, as:'string', input_html:{required: 'required', placeholder:'请输入活动开始时间', value: end_at}%>
    
    <%= f.input :fee_type, as:'select', collection: Event.fee_type_options, input_html:{class: ' selectpicker'},include_blank: false %>
    
    <%= f.input :fee, input_html:{placeholder: '请输入活动金额'} %>
    
    <%= f.input :min_count, input_html:{placeholder: '请输入活动下限人数'} %>
  
    <%= f.input :max_count, input_html:{ placeholder: '请输入活动上限人数'}%>
    
    <%= f.input :logo, as:'file' %>
  </div>
  <div class="col-md-6">
    <label for="event_content">活动描述</label>
    <%= f.input :content, label: false %>
    <button type="submit" class="btn btn-info btn-lg btn-block">创建活动</button>
  </div>

<% end %>
  
</div>

<script>
  $(document).ready(function(){
    $('#event_start_at').datetimepicker({
        language:  'zh-CN',
        weekStart: 1,
        todayBtn:  1,
    		autoclose: 1,
    		todayHighlight: 1,
    		startView: 2,
    		forceParse: 0
    });
    $('#event_end_at').datetimepicker({
        language:  'zh-CN',
        weekStart: 1,
        todayBtn:  1,
    		autoclose: 1,
    		todayHighlight: 1,
    		startView: 2,
    		forceParse: 0,
        showMeridian: 1
    });
    $('.selectpicker').selectpicker({
      size: 8
    });
    CKEDITOR.replace( 'event_content' ,{ 
      toolbar: [ 
        ['Bold','Italic','Underline','Strike'], ['Cut','Copy','Paste'], 
        ['NumberedList','BulletedList','-','Outdent','Indent','Blockquote'], 
        ['JustifyLeft','JustifyCenter','JustifyRight','JustifyBlock'] 
        ] 
      });
    });
</script>
