<style type="text/css">
  .val_error{
    color: #e4020c;
    padding-left: 70px;
    clear: left;
  }
  .add-on{
    border-radius: 0 4px 4px 0;
  }
</style>
<%= form_for @event, methods: :post, html: {:class => 'talen_two_f', name: 'anotherTime'} do |f| %>
  <div class="input-group">
    <span class="input-group-addon">活动标题：</span>
    <%= f.text_field :name, 'validation-config' => "{'checking':['required', 'maxSize'],'init':[true, 20],'name':'活动标题'}", :class => 'form-control'%>
  </div>
  <div class="input-group">
    <span class="input-group-addon">活动地址：</span>
    <%= f.text_field :address, 'validation-config' => "{'checking':['required', 'maxSize'],'init':[true, 100],'name':'活动地址'}", :class => 'form-control'%>
  </div>
  <div class="input-group">
    <span class="input-group-addon">开始时间：</span>
    <div class="form-control input-append date datetimepicker">
      <%= f.text_field :start_at, style: 'width: 100%;border: 0' %>
      <span class="add-on">
        <i data-date-icon="icon-calendar" data-time-icon="icon-time" class="icon-calendar">
        </i>
      </span>
    </div>
  </div>
  <div class="input-group">
    <span class="input-group-addon">结束时间：</span>
    <div class="form-control input-append date datetimepicker">
      <%= f.text_field :end_at, style: 'width: 100%;border: 0'%>
      <span class="add-on">
        <i data-date-icon="icon-calendar" data-time-icon="icon-time" class="icon-calendar">
        </i>
      </span>
    </div>
  </div>
  <div class="input-group">
    <span class="input-group-addon">费用类型：</span>
    <%= f.text_field :fee_type, :class => 'form-control'%> 
  </div>
  <div class="input-group">
    <span class="input-group-addon">活动金额：</span>
    <%= f.text_field :fee, :class => 'form-control'%>
  </div>
  <div class="input-group">
    <span class="input-group-addon">上限人数：</span>
    <%= f.text_field :max_count, :class => 'form-control', 'validation-config' => "{'checking':['min','max'],'init':[1,9999],'name':'上限人数'}"%>
  </div>
  <div class="input-group">
    <span class="input-group-addon">下限人数：</span>
    <%= f.text_field :min_count, :class => 'form-control', 'validation-config' => "{'checking':['min', 'max'],'init':[1, 9999],'name':'下限人数'}"%>
  </div>
  <div class="input-group">
    <span class="input-group-addon">活动描述：</span>
    <%= f.kindeditor :content, :simple_mode => true, :class => 'form-control' %>
  </div>
  <div class="input-group">
    <span class="input-group-addon">活动图片：</span>
    <%= f.file_field :logo, 'validation-config' => "{'checking':['required'],'init':[true],'name':'活动图片'}", :class => 'form-control' %>
  </div>
  <div class="btn-group">
    <%= f.submit '完成', :class => 'btn btn-default'%>
  </div>
<% end -%>
<script type="text/javascript">
  $(function() {
    $('.datetimepicker').datetimepicker({
      format: 'yyyy-mm-dd hh:mm:ss',
      language:  'zh-CN'
    });
  });
</script>