
<div class="row" style="margin-left:10px">
  <h3 style="border-bottom: 1px solid #ccc"><%= link_to @event.name, event_path(@event), class: 'navbar-link'%>  图片</h3>
  <p class="pull-right" style="margin-top:-30px">
    <%= link_to '返回', event_path(@event), class: 'fa fa-reply'%>
    <% if @event.user == @current_user%>
      <%= link_to '上传图片', uploader_event_path(@event), class: 'fa fa-upload'%>
    <% end -%>
  </p>
  <div class="row" style="padding:5px">
    <div class="col-md-1">
      <a href="<%= photos_event_path(id: @event.id, p_id: @next_photo.id) if @next_photo.present? %>" class="pull-right" id="a_left_btn">
        <img src="/assets/left_btn_1.png" width="20" height="20"/>
      </a>
    </div>
    <div id="photo_content" class="col-md-10" style="text-align: center;">
      <%= image_tag @photo.avatar_url(:lager)%>
      <div>
        <%= link_to '推荐图片', recommend_photo_path(@photo), method: :put, confirm: '你确定要推荐吗？'%> ｜
        <%= link_to '查看原图', show_original_photo_path(@photo), target: 'blank' %> ｜
        <%= link_to '删除', photo_path(@photo), method: :delete, confirm: '你确定要删除吗？'%>
      </div>
    </div>
    <div class="col-md-1">
      <a href="<%= photos_event_path(id: @event.id, p_id: @previous_photo.id) if @previous_photo.present? %>" class="pull-left" id="a_right_btn">
        <img src="/assets/right_btn_1.png" width="20" height="20" class="pull-left"/>
      </a>
    </div>
  </div>
  
</div>

<script type="text/javascript">
  window.onload=function(){set_btn_style();}
  function set_btn_style(){
    var photo_content = document.getElementById('photo_content');
    var height = photo_content.offsetHeight;
    var a_left_btn = document.getElementById('a_left_btn');
    var a_right_btn = document.getElementById('a_right_btn');
    if (a_left_btn) a_left_btn.style.marginTop = (height/2) + 'px';
    if (a_right_btn) a_right_btn.style.marginTop = (height/2) + 'px';
  }
</script>