<%= content_for :header do %>
  <%= javascript_include_tag 'colorbox/jquery.colorbox-min' %>
  <%= stylesheet_link_tag    'colorbox/colorbox' %>
<% end -%>
<script>
  $(document).ready(function(){
    $(".image_group").colorbox({rel:'image_group'});
  })
</script>
<div class="row" style="margin: 15px 0px;">
  <div class="col-md-4" style="padding-left: 0px;">
    <%= image_tag(asset_path(@event.logo_url(:lager)), class:'img-responsive') %>
  </div>
  <div class="col-md-8" style="line-height: 30px;background: #fff; height: 300px;">
    <h3><%= @event.name%></h3>
    <p>地点：<%= @event.address %></p>
    <p>时间：<%= "#{@event.start_at.strftime('%m月%d日 %H:%M')}--#{@event.end_at.strftime('%m月%d日 %H:%M')}" %></p>
    <p>费用：<%= @event.display_fee %> </p>
    <p>类型：<%= @event.taxon.name %></p>
    <%= render partial:'controls' %>
  </div>
</div>
<div class="row" style="margin: 15px 0px;">
<% @event.photos.each do |photo|%>
  <div class="col-md-1" style="padding-left: 0px;">
   <%= link_to (image_tag photo.avatar_url(:medium), size:"60x60"), photo.avatar_url(:lager), class:'image_group'%>
  </div>
<% end -%>
</div>

<div class="row" style="margin: 15px 0px;">
  <div class="col-md-12" style="background: #fff; padding: 15px;">
    <%= raw(@event.content.to_s.html_safe) rescue ''%>
  </div>
</div>

<div class="row" style="margin: 15px 0px;">
  <div class="col-md-12" style="background: #fff; margin-bottom: 15px;padding: 15px;">
    <p style="margin:auto;">
      共收到 <span id="comment_count">21</span> 条回复
      <%= link_to "写评论", new_comment_path({"comment[commentable_type]": 'Event', "comment[commentable_id]": @event.id}),remote:true, class:'btn-sm btn-info', style:'margin-left: 20px;' %> 
    </p>
  </div>
  <div class="col-md-12" id="comment_content" style="padding: 0px 0px;">
    <%= render :partial => 'comments/index'%>
  </div>
</div>
