<%= content_for :header do %>
  <%= javascript_include_tag 'ui/ui_comment' %>
  <%= javascript_include_tag 'colorbox/jquery.colorbox-min' %>
  <%= stylesheet_link_tag    'colorbox/colorbox' %>
<% end -%>
<style type="text/css">
  .commentLoading{
    text-align: center;
  }
</style>
<script>
  $(document).ready(function(){
    $("img:not(.header)").addClass("img-responsive img-thumbnail").attr("style","");
    $(".image_group").colorbox({rel:'image_group'});
  })
</script>
<div class="row" style="margin-top: 15px;">
  <div class="col-md-4">
    <%= image_tag(asset_path(@event.logo_url(:lager)), style:"width:342px; height: 150px;", class:"img-thumbnail") %>
  </div>
  <div class="col-md-6 col-md-offset-1" style="line-height: 30px;">
    <h3><%= @event.name%></h3>
    <p>地点：<%= @event.address %></p>
    <p>时间：<%= "#{@event.start_at.strftime('%m月%d日 %H:%M')}--#{@event.end_at.strftime('%m月%d日 %H:%M')}" %></p>
    <p>费用：<%= @event.display_fee %> </p>
    <p>类型：<%= @event.taxon.name %></p>
    <%= render partial:'controls' %>
  </div>
</div>

<h4 style="margin-top: 40px; margin-bottom: 20px;">活动图片:</h4>
<div class="row">
<% @event.photos.each do |photo|%>
  <div class="col-md-2">
   <%= link_to (image_tag photo.avatar_url(:medium), size:"118x118"), photo.avatar_url(:lager), class:'image_group'%>
  </div>
<% end -%>
</div>

<h4 style="margin-top: 20px;">活动详情:</h4>
<div><%= raw(@event.content.to_s.html_safe) rescue ''%></div>

<h4 style="margin-top: 20px;">评论:</h4>
<%= render :partial => 'comments/comment_panel', :locals => { :commentable_id => @event.id, :commentable_type => 'Event', :auto_load => 'on' } %>
