<%= content_for :header do %>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
  <%= javascript_include_tag 'colorbox/jquery.colorbox-min' %>
  <%= stylesheet_link_tag    'colorbox/colorbox' %>
  <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=C9EDmgsKeOeQ9gMAkMlPMtaZ"></script>
<% end -%>
<script>
  $(document).ready(function(){
    $(".image_group").colorbox({rel:'image_group'});
 
    var map = new BMap.Map("l-map");
  	var point = new BMap.Point(<%= @event.lng %>, <%= @event.lat%>);
  	map.centerAndZoom(point, 12);
  	var marker = new BMap.Marker(point);// 创建标注
  	map.addOverlay(marker);             // 将标注添加到地图中
    var top_right_navigation = new BMap.NavigationControl({anchor: BMAP_ANCHOR_TOP_RIGHT, type: BMAP_NAVIGATION_CONTROL_SMALL});
    map.addControl(top_right_navigation); 
  	marker.disableDragging();           // 不可拖拽
    
    // 定义一个控件类,即function
  	function ZoomControl(){
  	  // 默认停靠位置和偏移量
  	  this.defaultAnchor = BMAP_ANCHOR_TOP_LEFT;
  	  this.defaultOffset = new BMap.Size(10, 10);
  	}
  
  	// 通过JavaScript的prototype属性继承于BMap.Control
  	ZoomControl.prototype = new BMap.Control();
  
  	// 自定义控件必须实现自己的initialize方法,并且将控件的DOM元素返回
  	// 在本方法中创建个div元素作为控件的容器,并将其添加到地图容器中
  	ZoomControl.prototype.initialize = function(map){
  	  // 创建一个DOM元素
  	  var div = document.createElement("div");
  	  // 添加文字说明
  	  div.appendChild(document.createTextNode("查看大图"));
  	  // 设置样式
  	  div.style.cursor = "pointer";
  	  div.style.border = "1px solid gray";
  	  div.style.backgroundColor = "white";
  	  // 绑定事件,点击一次放大两级
  	  div.onclick = function(e){
        $.post("<%= look_city_path(@event)%>", null, null);
  	  }
  	  // 添加DOM元素到地图中
  	  map.getContainer().appendChild(div);
  	  // 将DOM元素返回
  	  return div;
  	}
  	// 创建控件
  	var myZoomCtrl = new ZoomControl();
  	// 添加到地图当中
  	map.addControl(myZoomCtrl);
  })
</script>
<div class="row" style="margin: 15px 0px;">
  <div class="col-md-4" style="padding-left: 0px;">
    <%= image_tag(asset_path(@event.logo_url(:lager)), class:'img-responsive') %>
  </div>
  <div class="col-md-5" style="line-height: 30px;background: #fff; height: 273px;">
    <h3><%= @event.name%></h3>
    <p>地点：<%= @event.address %></p>
    <p>时间：<%= "#{@event.start_at.strftime('%m月%d日 %H:%M')}--#{@event.end_at.strftime('%m月%d日 %H:%M')}" %></p>
    <p>费用：<%= @event.display_fee %> </p>
    <p>类型：<%= @event.taxon.name %></p>
    <%= render partial:'controls' %>
  </div>
  <div class="col-md-3" style="height: 273px;" id="l-map">
    地图
  </div>
</div>
<div class="row" style="margin: 15px 0px;">
<% @event.photos.each do |photo|%>
  <div class="col-xs-1" style="padding-left: 0px;margin-right: 35px;">
   <%= link_to (image_tag photo.avatar_url(:medium), size:"60x60"), photo.avatar_url(:lager), class:'image_group'%>
  </div>
<% end -%>
</div>

<div class="row" style="margin: 15px 0px;">
  <div class="col-md-12" style="background: #fff; padding: 15px;">
    <%= raw(@event.content.to_s.html_safe) rescue ''%>
  </div>
</div>

<div class="row" style="margin: 15px 0px;">
  <div class="col-md-12" style="background: #fff; margin-bottom: 15px;padding: 15px;">
    <p style="margin:auto;">
      共收到 <span id="comment_count">21</span> 条回复
      <%= link_to "写评论", new_comment_path({"comment[commentable_type]": 'Event', "comment[commentable_id]": @event.id}),remote:true, class:'btn-sm btn-info', style:'margin-left: 20px;' %>
    </p>
  </div>
  <div class="col-md-12" id="comment_content" style="padding: 0px 0px;">
    <%= render :partial => 'comments/index'%>
  </div>
</div>