<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>广联达软件</title>
		<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<%= stylesheet_link_tag 'http://cnratchet.com/css/ratchet.min.css' %>
		<%= javascript_include_tag 'http://cnratchet.com/js/ratchet.min.js' %>
	</head>
	<body>
		<div class="content">
			<div class="segmented-control">
				<a class="control-item active" href="#item1mobile">
					注册新用户
				</a>
				<a class="control-item" href="#item2mobile">
					绑定已有用户
				</a>
			</div>
			<div class="card">
				<span id="item1mobile" class="control-content active">
				<%= form_for @user, url:{action:'register'} do |f| %>
				<%= f.hidden_field :weixin_id %>
				<%= f.hidden_field :name %>
				<%= f.text_field :email, placeholder:"请输入邮箱" %>
				<%= f.password_field :password, placeholder:"请输入密码" %>
				<%= f.password_field :password, placeholder:"请再次输入密码" %>
				<%= f.submit '提交', class:"btn btn-positive btn-block"  %>
				<% end %>
				</span>
				<span id="item2mobile" class="control-content">
				<%= form_for @user, url:{action:'register'} do |f| %>
				<%= f.hidden_field :weixin_id %>
				<%= f.hidden_field :name %>
				<%= f.text_field :email, placeholder:"请输入邮箱" %>
				<%= f.password_field :password, placeholder:"请输入密码" %>
				<%= f.submit '提交', class:"btn btn-positive btn-block"  %>
				<% end %>
				</span>
			</div>
		</div>
	</body>
</html>