<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>W3cplus</title>
		<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<%= stylesheet_link_tag 'http://cnratchet.com/css/ratchet.min.css' %>
		<%= javascript_include_tag 'http://cnratchet.com/js/ratchet.min.js' %>
	</head>
	<body>
		<header class="bar bar-nav">
			<a href="##" class="icon icon-bars pull-left"></a>
			<a href="##" class="icon icon-search pull-right"></a>
			<h1 class="title">注册新用户</h1>
		</header>
		<div class="content">
			<%= form_for @user, url:{action:'register'}, class:"input-group" do |f| %>
			<%= f.hidden_field :weixin_id %>
			<div class="input-row">
				<label>邮箱</label>
				<%= f.text_field :email, placeholder:"请输入邮箱" %>
			</div>	
			<div class="input-row">
				<label>密码</label>
				<%= f.password_field :password, placeholder:"请输入密码" %>
			</div>	
			<%= f.submit '提交', class:"btn btn-positive btn-block"  %>
			<% end %>
		</div>
	</body>
</html>