<%= link_to '新建', new_admin_slide_ad_path, class:'btn btn-primary' %>
<table class="table table-condensed table-bordered">
	<tr>
		<th>
			标题
		</th>
		<th>
			链接
		</th>
		<th>
			图片
		</th>
		<th>
			操作
		</th>
	</tr>
	<% @slide_ads.each do |sa| %>
	<tr>
		<td>
			<%= sa.title %>
		</td>
		<td>
			<%= sa.link %>
		</td>
		<td>
			<%= image_tag sa.img.url(:thumb) %>
		</td>
		<td>
			<%= link_to '编辑', edit_admin_slide_ad_path(sa), class:'btn btn-primary' %> | <%= link_to '删除', admin_slide_ad_path(sa), method:'delete', confirm:'确定删除吗？', class:'btn btn-primary' %>
		</td>
	</tr>
	<% end %>
</table>
