<div class="row" style="margin-left:10px">
  <h3 style="border-bottom: 1px solid #ccc">修改密码</h3>
  <p class="pull-right" style="margin-top:-30px">
    <%= link_to '基本设置', account_settings_path, class: 'fa fa-pencil'%>
    <%= link_to '修改密码', password_settings_path, class: 'fa fa-pencil'%>
  </p>
  <%= form_for @current_user, url: basic_settings_path, html: {:class => 'talen_two_f login-form'} do |f|%>
    <div class="form-group">
      <div class="col-md-2">
        <label class="control-label pull-right">旧密码</label>
      </div>
      <div class="col-md-4 input-group">
        <span class="input-group-addon">
            <i class="fa fa-user"></i>
          </span>
        <%= password_field_tag :old_password, @current_user.password, 'validation-config' => "{'checking':['required'],'init':[true],'name':'旧密码'}", :class => 'form-control input-medium'%>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-2">
        <label class="control-label pull-right">密码</label>
      </div>
      <div class="col-md-4 input-group">
        <span class="input-group-addon">
            <i class="fa fa-user"></i>
          </span>
        <%= f.password_field :password, 'validation-config' => "{'checking':['required'],'init':[true],'name':'密码'}", :class => 'form-control input-medium'%>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-2">
        <label class="control-label pull-right">确认密码</label>
      </div>
      <div class="col-md-4 input-group">
        <span class="input-group-addon">
            <i class="fa fa-envelope-o"></i>
          </span>
        <%= f.password_field :password_confirmation, 'validation-config' => "{'checking':['required', 'compare'],'init':[true, 'user_password'],'name':'确认密码'}", :class => 'form-control input-medium'%>
      </div>
    </div>
    <div class="form-actions" style="text-align: center">
      <%= f.submit '保存', :class => 'btn green'%>
    </div>
        
  <% end -%>
</div>