<div class="row">
  <div class="col-md-12">
    <!-- BEGIN EXAMPLE TABLE PORTLET-->
    <div class="portlet box grey-cascade">
      <div class="portlet-title">
        <div class="caption">
          <i class="fa fa-globe"></i>角色管理
        </div>
        <div class="tools">
          <a class="collapse" href="javascript:;">
          </a>
        </div>
      </div>
      <div class="portlet-body">
        <div class="dataTables_wrapper">
          <div class="btn-group">
            <a href="<%= new_admin_role_path %>" class="btn green">
            添加角色名 <i class="fa fa-plus"></i>
            </a>
          </div>
        </div>
        <table class="table table-striped table-bordered table-hover dataTable">
          <thead>
            <tr>
              <th>角色名</th>
              <th>资源名</th>
              <th>资源id</th>
              <th>操作</th>
            </tr>
          </thead>
          <% @roles.each do |r|%>
            <tbody>
              <tr class="odd gradeX">
                <td class="ng-binding"><%= r.name %></td>
                <td class="ng-binding"><%= r.resource_type %></td>
                <td class="ng-binding"><%= r.resource_id %></td>
                <td>
                  <%= link_to '编辑', edit_admin_role_path(r) %>
                  <%= link_to '删除', admin_role_path(r), method: :delete, confirm: '确认要删除吗？' %>
                </td>
              </tr>
            </tbody>
          <% end -%>
        </table>
      </div>
    </div>
    <!-- END EXAMPLE TABLE PORTLET-->
  </div>
</div>