<div class="row">
  <div class="col-md-12">
    <!-- BEGIN EXAMPLE TABLE PORTLET-->
    <div class="portlet box grey-cascade">
      <div class="portlet-title">
        <div class="caption">
          <i class="fa fa-globe"></i>่ง็่ฎฐๅฝ
        </div>
        <div class="tools">
          <a class="collapse" href="javascript:;">
          </a>
        </div>
      </div>
      <div class="portlet-body">
        <div class="dataTables_wrapper">
          <div class="btn-group">
          </div>
        </div>
        <%= form_tag(admin_gensees_path, method: "get",:class => "form-inline",:style => "border: 5px solid #ADADAD;padding: 10px;") do %>
          <div  class="row">
            <div class="col-md-4">
              <label>
                <input type="text" style="width:300px;" name="video_id" value="<%= params[:video_id]%>" placeholder="่ง้ขId"/>
              </label>
            </div>
            <div class="col-md-5">
              <label>
                <input type="text" style="width:300px;" name="nickname" value="<%= params[:nickname]%>" placeholder="Global Id"/>
              </label>
            </div>

            <div class="col-md-3">
              <input type="submit"  class="button tiny info" value="๐ๆ  ็ดข"/>
            </div>
          </div>
        <% end %>
        <h5>ๅฑ<%= @enlists.count%>ๆก่ฎฐๅฝ    &nbsp;&nbsp;&nbsp;ๆ็จๆทๅป้ๆฐ้:<%= @total_count%></h5>
        <table class="table table-striped table-bordered table-hover dataTable">
          <thead>
            <tr>
              <th>uid</th>
              <th>่ง้ข</th>
              <th>SDK</th>       
              <th>็จๆท</th>
              <th>ๅฐๅบ</th>
              <th>ๅๅฅๆถ้ด</th>
              <th>็ฆปๅผๆถ้ด</th>
              <th>่ง็ๆนๅผ</th>
              <th>่ง็ๆถ้ฟ(ๅ้)</th>
            </tr>
          </thead>
          <% @enlists.each do |one|%>
            <tbody>
              <tr class="odd gradeX">
                <td class="ng-binding"><%= one.uid %></td>
                <td class="ng-binding"><%= one.video_id %></td>
                <td class="ng-binding"><%= one.sdk %></td>
                <td class="ng-binding"><%= one.nickname %></td>
                <td class="ng-binding"><%= one.area %></td>
                <td class="ng-binding"><%= time_format(Time.at(one.joinTime.to_i * 0.001)) %></td>
                <td class="ng-binding"><%= time_format(Time.at(one.leaveTime.to_i * 0.001)) %></td>
                <td class="ng-binding"><%= one.mold %></td>
                <td class="ng-binding"><%= (one.see_time.to_i * 0.001 /60).round(1) %></td>
              </tr>
            </tbody>
          <% end -%>
        </table>
      </div>
    </div>
    <!-- END EXAMPLE TABLE PORTLET-->
    <div class="row">
      <div class="large-6 large-push-5 columns ">
        <div class="digg_pagination">
            <%= will_paginate @enlists, :container => false, :previous_label => '<<', :next_label => '>>' %>
        </div>
      </div>
    </div>
  </div>
</div>