<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Chinawhere</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li <%= 'class=active' if params[:controller] == 'home' %>><%= link_to '个人中心', home_path %></li>
        <li <%= 'class=active' if params[:controller] == 'events' %>><%= link_to '活动', events_path%></li>
        <li><a href="#contact">Contact</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li class="dropdown-header">Nav header</li>
            <li><a href="#">Separated link</a></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if @current_user.present? %>
          <li class="active dropdown-user">
            <a href="./" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
              <%= image_tag @current_user.logo_url(:feed), size: '30x30', :class => 'img-circle' %>
              <span class="username"><%= @current_user.try(:name)%></span>
              <i class="fa fa-angle-down"></i>
            </a>

            <ul class="dropdown-menu" style="display:none">
              <li >
                <a href="" >
                <i class="fa fa-key"></i> 修改密码</a>
              </li>
              <li class="divider">
              <li >
                <a href="" >
                <i class="fa fa-key"></i> 个人设置</a>
              </li>
              <li class="divider">
              </li>
              <li>
                <a href="<%= logout_path %>">
                <i class="fa fa-key"></i> 退出系统 </a>
              </li>
            </ul>
          </li>
        <% else %>
          <li>
          <%= link_to '登录', login_path %>
          </li>
          <li>
            <%= link_to '注册', register_path %>
          </li>
        <% end -%>
      </ul>
    </div>
  </div>
</div>