<div class="row thumbnail" style="padding-top: 15px">
  <% if @current_user.present? %>
    <div class="row">
      <div class="col-md-4 col-md-offset-1">
        <%= image_tag @current_user.logo_url(:medium), :class => 'img-rounded' %>
      </div>
      <div class="col-md-7" style="padding-top: 20px">
        <p>昵称：<%= @current_user.name %></p>
        <p>性别：<%= @current_user.sex %></p>
        <p>职位：<%= @current_user.position %></p>
      </div>
    </div>
  <% end -%>
  <br/>
  <br/>
  <br/>
  <h4 class="text-left">活动日历</h4>
  <%= render '/layouts/shared/time'%>
</div>