<!DOCTYPE html>
<html>
<head>
  <title>优购咨询站</title>
  <%= stylesheet_link_tag    "/assets/admin" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "ui/ui_header" %>
  <%= csrf_meta_tags %>
  <style type="text/css">

    body {background-color: #3d3d3d;}
    .dataTable {
      clear: both;
      margin-top: 5px;
      width: 100% !important;
    }
  </style>
</head>
<body class="page-header-fixed page-sidebar-closed-hide-logo">
  <!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
  <!--[if !IE]><!-->
  <!--<![endif]-->
  <!-- BEGIN HEADER -->
  <div class="page-header navbar navbar-fixed-top" style="z-index: 9999 !important">
    <!-- BEGIN HEADER INNER -->
    <div class="page-header-inner">
      <!-- BEGIN LOGO -->
      <div class="page-logo">
        <a href="/index">
          <img src="/images/logo.png" alt="logo" class="logo-default" style="width:100px;height:21px" />
        </a>

      </div>
      <!-- END LOGO -->
      <!-- END HEADER SEARCH BOX -->
      <!-- BEGIN RESPONSIVE MENU TOGGLER -->
      <div class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
      </div>
      <!-- END RESPONSIVE MENU TOGGLER -->
      <!-- BEGIN TOP NAVIGATION MENU -->
      <div class="top-menu">
        <ul class="nav navbar-nav pull-right">
          <!-- BEGIN NOTIFICATION DROPDOWN -->
          <!-- BEGIN USER LOGIN DROPDOWN -->
          <li class="dropdown dropdown-user open">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true" style="padding: 10px 6px 10px 14px;">
              <img alt="" class="img-circle" src="/images/avatar.png" style="width:25;height:25px;"/>
              <span class="username">
              <%= @current_staffer.name %> </span>
              <i class="fa fa-angle-down"></i>
            </a>
            <ul class="dropdown-menu" style="display:none">
              <li >
                <a href="" >
                <i class="fa fa-key"></i> 修改密码</a>
              </li>
              <li class="divider">
              </li>
              <li>
                <a href="<%= admin_logout_path %>">
                <i class="fa fa-key"></i> 退出系统 </a>
              </li>
            </ul>
          </li>
          <!-- END USER LOGIN DROPDOWN -->
        </ul>
      </div>
      <!-- END TOP NAVIGATION MENU -->
    </div>
    <!-- END HEADER INNER -->
  </div>
  <!-- END HEADER -->
  <div class="clearfix">
  </div>
  <!-- BEGIN CONTAINER -->
  <div class="page-container" style="margin-top: 65px;">
    <!-- BEGIN SIDEBAR -->
    <div class="page-sidebar navbar-collapse collapse" style="position:relative;z-index:1000;width: 235px;">
      <ul class="page-sidebar-menu hidden-sm hidden-xs" data-slide-speed="200">
        <li class="sidebar-search-wrapper">
          <!-- BEGIN RESPONSIVE QUICK SEARCH FORM -->
          <!-- DOC: Apply "sidebar-search-bordered" class the below search form to have bordered search box -->
          <!-- DOC: Apply "sidebar-search-bordered sidebar-search-solid" class the below search form to have bordered & solid search box -->
          <form class="sidebar-search sidebar-search-bordered" action="extra_search.html" method="POST">
          </form>
          <!-- END RESPONSIVE QUICK SEARCH FORM -->
        </li>
        <% menus = YAML.load_file("config/admin.yml").symbolize_keys[:admin] %>
        <% menus.each_with_index do |menu, index| %>
          <li class="<%= 'start active open' if index == 0%>">
            <a href="javascript:;">
            <i class="fa fa-cogs"></i>
            <span class="title">
            <%= menu["name"] %></span>
            <span class="arrow <%= 'open' if index == 0 %>">
            </span>
            <span class="selected"></span>
            </a>
              <ul class="sub-menu">
                <% menu["menus"].each do |s_menu| %>
                  <li >
                    <a href="<%= s_menu['href'] %>">
                    <%= s_menu['name'] %></a>
                  </li>
                <% end %>
              </ul>
          </li>
        <% end %>
      </ul>
    </div>
    <!-- END SIDEBAR -->
    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper" >
      <div class="page-content" style="min-height: 1400px;">
        <%= yield %>
      </div>
    </div>
    <!-- END CONTENT -->
  </div>
  <!-- END CONTAINER -->
  <!-- BEGIN FOOTER -->
  <div class="page-footer">
    <div class="page-footer-inner">
       2014 &copy; Metronic by keenthemes.
    </div>
    <div class="page-footer-tools">
      <span class="go-top">
      <i class="fa fa-angle-up"></i>
      </span>
    </div>
  </div>
  <script type="text/javascript">
    $(function(){
      $('ul.page-sidebar-menu').on('click', 'li', function () {
        $(this).addClass("start active open");
        $(this).children("a").children("span.arrow").addClass("open");
        $(this).siblings('li').removeClass("start active open");
        $(this).siblings('li').children("a").children("span.arrow").removeClass("open");
      });
    })
  </script>
</body>
</html>
