<!DOCTYPE html>
<html>
<head>
  <title>去哪儿玩</title>
  <%= stylesheet_link_tag    'application' %>
  <%= stylesheet_link_tag    'bootstrap.min' %>
  <%= stylesheet_link_tag    'bootstrap_extra' %>
  <%= stylesheet_link_tag    'font-awesome.min'%>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag 'bootstrap.min'%>
  <%= yield :header %>
  <%= csrf_meta_tags %>
  <%= include_gon %>
  <script>
    var Chinawhere = new Object;
    Chinawhere.current_user_id = <%= @current_user.try(:id) || false %>;
    $(document).ready(function(){
      $('.dropdown-toggle').dropdown();
      $('[data-toggle="popover"]').popover();
    })
  </script>
</head>
<body>
  <%= render '/layouts/header' %>
  <div class="container" id="main">
    <%= yield %>
  </div>
  <%= render '/layouts/popup' %>
  <%= render '/layouts/footer' %>
</body>
</html>
