<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <title>去哪玩</title>
  <%= stylesheet_link_tag    'application' %>
  <%= javascript_include_tag 'application' %>
  <%= yield :header %>
  <%= csrf_meta_tags %>
  <%= include_gon %>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <script>
    var Chinawhere = new Object;
    Chinawhere.current_user_id = <%= @current_user.try(:id) || false %>;
    $(document).ready(function(){
      $('.dropdown-toggle').dropdown();
      $('[data-toggle="popover"]').popover();
    })
  </script>
</head>
<body>
  <%= render '/layouts/header' %>
  <div class="container" id="main">
    <%= yield %>
  </div>
  <%= render '/layouts/popup' %>
  <%= render '/layouts/footer' %>
</body>
</html>
