<!DOCTYPE html>
<html>
<head>
  <title>Chinawhere</title>
  <%= stylesheet_link_tag    'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'bootstrap.min'%>
  <%= stylesheet_link_tag    'bootstrap_extra' %>
  <%= stylesheet_link_tag    'font-awesome'%>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag 'bootstrap.min'%>
  <%= yield :header %>
  <%= csrf_meta_tags %>
  <script>
    var Chinawhere = new Object;
    Chinawhere.current_user_id = <%= @current_user.try(:id) || false %>;
    $(document).ready(function(){
      $('.dropdown-toggle').dropdown();
    })
  </script>
</head>
<body>

  <%= render '/layouts/header' %>
  <div class="container" id="main">
    <%= yield %>
  </div>
  <div id="footer">
    <div class="container">
      <p class="text-muted">Place sticky footer content here.</p>
    </div>
  </div>
</body>
</html>
