<!DOCTYPE html>
<html>
<head>
  <title>Chinawhere</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'bootstrap.min'%>
  <%= stylesheet_link_tag    'bootstrap_extra' %>
  <%= stylesheet_link_tag    'font-awesome'%>
  <%= stylesheet_link_tag    'ui/scaffolds', 'ui/ui_calendar', 'ui/base' %>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag 'ui/ui_header' %>
  <%= javascript_include_tag 'ui/ui_form_validator' %>
  <%= javascript_include_tag 'ui/ui_calendar' %>
  <%= yield :header %>
  <%= csrf_meta_tags %>
  <script>
    var Chinawhere = new Object;
    Chinawhere.current_user_id = <%= @current_user.try(:id) || false %>;
  </script>
</head>
<body>
  <div class="act_calendar_f" style="display:none;">
    <div class="calendar_box_f">
      <div id="calendar2">
        <div class="calendar">
          <p class="nowDate">
          <a href="javascript:void(0)" class="prevYear">&lt;&lt;</a>
          <a href="javascript:void(0)" class="prevMonth">&lt;</a>
          <span>2014</span>
          <a href="javascript:void(0)" class="nextMonth">&gt;</a>
          <a href="javascript:void(0)" class="nextYear">&gt;&gt;</a>
          </p>
          <p class="week">
          <span class="sun">日</span><span>一</span><span>二</span><span>三</span><span>四</span><span>五</span><span class="sun">六</span>
          </p>
          <div class="yearList">
            <ul></ul>
            <p><a href="javascript:void(0)" class="prev">←</a><a href="javascript:void(0)" class="next">→</a><a href="javascript:void(0)" class="close">×</a></p>
          </div>
          <ul class="monthList">
            <li data-value="0">一月</li><li data-value="1">二月</li><li data-value="2">三月</li>
            <li data-value="3">四月</li><li data-value="4">五月</li><li data-value="5">六月</li>
            <li data-value="6">七月</li><li data-value="7">八月</li><li data-value="8">九月</li>
            <li data-value="9">十月</li><li data-value="10">十一月</li><li data-value="11">十二月</li>
          </ul>
          <ul class="days"></ul>
          <span class="calendar_tip"></span>
        </div>
      </div>
    </div>
  </div>

  <%= render '/layouts/header' %>
  <div class="container" id="main">
    <%= yield %>
  </div>
  <div id="footer">
    <div class="container">
      <p class="text-muted">Place sticky footer content here.</p>
    </div>
  </div>
</body>
</html>
