<!DOCTYPE html>
<html>
<head>
  <title>去哪玩</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'bootstrap.min'%>
  <%= stylesheet_link_tag    'bootstrap_extra' %>
  <%= stylesheet_link_tag    'font-awesome'%>
  <%= stylesheet_link_tag    'ui/scaffolds', 'ui/ui_calendar', 'ui/base' %>
  <%= javascript_include_tag 'home/home' %>
  <%= javascript_include_tag 'ui/ui_header' %>
  <%= javascript_include_tag 'ui/ui_form_validator' %>
  <%= javascript_include_tag 'ui/ui_calendar' %>
  <%= yield :header %>
  <%= csrf_meta_tags %>
  <script>
    var Chinawhere = new Object;
    Chinawhere.current_user_id = <%= @current_user.try(:id) || false %>;
  </script>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>
<body>
  <%= render '/layouts/header' %>
  <%= render '/layouts/popup' %>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <%= render '/layouts/home_sidder'%>
      </div>
      <div class="col-md-9"><%= yield %></div>
    </div>
  </div> <!-- /container -->

  <%= render '/layouts/footer' %>
</body>

</html>
